

html, body {
    height: 100%;
    margin:0; padding:0;
    overflow-y: hidden;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.layout-overflow {
    overflow: hidden;
}

.layout-canvas {
    backface-visibility: hidden;
    position: relative;
    left: 0;
    width: 100%;
}

.layout-view {
    width: 100%;
}