

<div fxLayout="row" fxFlex class="page_header_nav" >

    <div class="page_header_menu_button"
         (click)="on_select_page_header_menu_button()" >
        <md-icon class="page_header_nav_icon">menu</md-icon>
    </div>

    <div fxFlex></div>

    <!--title added needed on webapp-->
    <div class="page_header_nav_title" >{{name}}</div>

    <div fxFlex></div>

    <div class="page_header_menu_button">
        <!-- empty -->
        <!-- maybe add a single command over on the right -->
    </div>


</div>
