
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


body {
    margin-top:0;
    font-family:Roboto, 'Helvetica Neue', sans-serif !important;
    outline: none;
    display: flex;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;

    background: #f1f1f1;
}

.info-head {
    padding : 4px;
}

.info-row {
    margin : 0px 0px 4px 0px;
}