
<div class="flex-container-col complete-width"
     [style.height]="current_height"
     [style.min-height]="current_height" >

    <div class="flex-container-row complete-height designer-background">

        <div class="flex-container-col complete-width designer-host" >

            <div fxLayout="row" class="designer-host-toolbar"
                 (click)="on_click_item_host_toolbar ( $event )">

                <md-select class="designer-host-toolbar-select"
                           [(ngModel)]="uiInstance.tree_selected"
                           (change)="on_change_selected_tree($event)"  >
                    <md-option *ngFor="let tree of listof_decision_tree" [value]="tree">
                        {{ tree.designerTreeName }}
                    </md-option>
                </md-select>

                <div class="designer-host-toolbar-host" mdTooltip="new decision tree" mdTooltipPosition="below"
                     (click)="on_new_decision_tree ( )" >
                    <md-icon class="designer-host-toolbar-icon">note_add</md-icon>
                </div>

                <div class="designer-host-toolbar-host" mdTooltip="add node" mdTooltipPosition="below"
                     (click)="on_add_designer_item ( )" >
                    <md-icon class="designer-host-toolbar-icon">add_circle_outline</md-icon>
                </div>

                <div *ngIf="-1 < uiInstance.item_selected_idx"
                     class="designer-host-toolbar-host" mdTooltip="remove output" mdTooltipPosition="below"
                     (click)="on_del_designer_item ( $event )" >
                    <md-icon class="designer-host-toolbar-icon">remove_circle_outline</md-icon>
                </div>

                <span fxFlex></span>

                <div class="designer-host-toolbar-number" *ngIf="-1 < selected_height">h</div>
                <md-input-container *ngIf="-1 < selected_height" align="end"
                                    (change)="on_change_item_position($event)" >
                    <input mdInput type="number" min="0" max="9999"
                           [(ngModel)]="selected_height" >
                </md-input-container>

                <div class="designer-host-toolbar-number" *ngIf="-1 < selected_width">w</div>
                <md-input-container *ngIf="-1 < selected_width" align="end"
                                    (change)="on_change_item_position($event)" >
                    <input mdInput type="number" min="0" max="9999"
                           [(ngModel)]="selected_width" >
                </md-input-container>

                <div class="designer-host-toolbar-number" *ngIf="-1 < selected_cx">x</div>
                <md-input-container *ngIf="-1 < selected_cx" align="end"
                                    (change)="on_change_item_position($event)" >
                    <input mdInput type="number" min="0" max="9999"
                           [(ngModel)]="selected_cx" >
                </md-input-container>

                <div class="designer-host-toolbar-number" *ngIf="-1 < selected_cy">y</div>
                <md-input-container *ngIf="-1 < selected_cy" align="end"
                                    (change)="on_change_item_position($event)" >
                    <input mdInput type="number" min="0" max="9999"
                           [(ngModel)]="selected_cy" >
                </md-input-container>

                <div class="designer-host-toolbar-host" *ngIf="uiInstance.hide_properties"
                     (click)="on_show_properties ( )" >
                    <md-icon class="designer-host-toolbar-icon">chevron_left</md-icon>
                </div>

                <div class="designer-host-toolbar-host" *ngIf="!uiInstance.hide_properties"
                     (click)="on_hide_properties ( )" >
                    <md-icon class="designer-host-toolbar-icon">chevron_right</md-icon>
                </div>

            </div>

            <svg fxLayout="row" class="designer-host-main" fxFlex
                 [ngClass]="{ 'svg-online': uiInstance.svg_online, 'svg-offline': ! uiInstance.svg_online }"
                 (mousedown)="on_background_mousedown ( $event )"
                 (mousemove)="on_background_mousemove ( $event )"
                 (mouseup)="on_background_mouseup ( $event )">

                <g *ngFor="let item_conn of uiInstance.listof_item_conn">

                    <path class="designer-item-connection designer-item-connection-line"
                          shape-rendering="geometricPrecision"
                          [ngClass]="{ 'designer-item-connection-selected': item_conn.selected }"
                          [attr.id]="item_conn.idx"
                          [attr.d]="item_conn.path" >
                    </path>

                    <circle class="designer-item-connection designer-item-connection-endpoint"
                            [ngClass]="{ 'designer-item-connection-selected-endpoint': item_conn.selected }"
                            r="4"
                            [attr.cx]="item_conn.src_cx"
                            [attr.cy]="item_conn.src_cy" >

                    </circle>

                    <circle class="designer-item-connection designer-item-connection-endpoint"
                            [ngClass]="{ 'designer-item-connection-selected-endpoint': item_conn.selected }"
                            r="4"
                            [attr.cx]="item_conn.dst_cx"
                            [attr.cy]="item_conn.dst_cy" >

                    </circle>

                </g>

                <g *ngFor="let item of uiInstance.listof_item"
                   [attr.fill]="item.fill" fxFlex >

                    <rect class="designer-item"
                          [ngClass]="{ 'designer-item-selected': item.selected, 'designer-item-primary': item.is_primary }"
                          [attr.id]="item.idx"
                          [attr.height]="item.height"
                          [attr.width]="item.width"
                          [attr.rx]="item.radius"
                          [attr.ry]="item.radius"
                          [attr.x]="item.cx"
                          [attr.y]="item.cy"
                          (mousedown)="on_item_mousedown ( item, $event )"
                          (mouseup)="on_item_mouseup ( $event )"
                          (mousemove)="on_item_mousemove ( $event )" >

                        <!--filter="url(#shadow-4dp)"-->

                    </rect>

                    <!-- terminal input -->
                    <g *ngFor="let conn of item.input" >

                        <text [attr.x]="conn.cx + 20"
                              [attr.y]="conn.cy"
                              text-anchor="start"
                              alignment-baseline="middle" >{{conn.label}}
                        </text>

                        <circle class="designer-item-connector"
                                [ngClass]="{ 'designer-item-connector-selected': conn.selected, 'designer-item-connector-primary': item.is_primary }"
                                [attr.id]="conn.idx"
                                [attr.fill]="blue"
                                [attr.stroke]="black"
                                [attr.stroke-width]="2"
                                [attr.r]="conn.radius"
                                [attr.cx]="conn.cx"
                                [attr.cy]="conn.cy" >
                        </circle>
                    </g>

                    <!-- terminal output -->
                    <g *ngFor="let conn of item.output" >

                        <text [attr.x]="conn.cx - 20"
                              [attr.y]="conn.cy"
                              text-anchor="end"
                              alignment-baseline="middle" >{{conn.label}}
                        </text>

                        <circle class="designer-item-connector"
                                [ngClass]="{ 'designer-item-connector-selected': conn.selected, 'designer-item-connector-primary': item.is_primary }"
                                [attr.id]="conn.idx"
                                [attr.fill]="blue"
                                [attr.stroke]="black"
                                [attr.stroke-width]="2"
                                [attr.r]="conn.radius"
                                [attr.cx]="conn.cx"
                                [attr.cy]="conn.cy" >
                        </circle>
                    </g>

                </g>

                <g *ngIf="drag_progress.in_progress" >

                    <path class="dragging-connection dragging-connection-line"
                          shape-rendering="geometricPrecision"
                          [attr.d]="drag_progress.svg_path" >
                    </path>

                    <circle class="dragging-connection dragging-connection-endpoint"
                            r="4"
                            [attr.cx]="drag_progress.point1.cx"
                            [attr.cy]="drag_progress.point1.cy" >
                    </circle>

                    <circle class="dragging-connection dragging-connection-endpoint"
                            r="4"
                            [attr.cx]="drag_progress.point2.cx"
                            [attr.cy]="drag_progress.point2.cy" >
                    </circle>

                </g>

            </svg>

        </div>

        <div fxLayout="column" class="designer-prop"
             [ngClass]="{ 'designer-prop-hidden': uiInstance.hide_properties }">

            <div fxLayout="row" class="designer-prop-toolbar" >

                <span fxFlex></span>

                <div *ngIf="-1 < uiInstance.item_selected_idx" mdTooltip="add input" mdTooltipPosition="below"
                     class="designer-host-toolbar-host" (click)="connector_input_add ( )" >
                    <md-icon class="designer-host-toolbar-svgicon" svgIcon="merge" ></md-icon>
                </div>

                <div *ngIf="-1 < uiInstance.item_selected_idx" mdTooltip="add output" mdTooltipPosition="below"
                     class="designer-host-toolbar-host" (click)="connector_output_add ( )" >
                    <md-icon class="designer-host-toolbar-svgicon" svgIcon="split" ></md-icon>
                </div>

            </div>

            <div fxLayout="row" class="designer-prop-main" fxFlex >

                <prop-base fxLayout="column" fxFlex
                           [(designer_config)]="designer_config"
                           [(drag_progress)]="drag_progress"
                           [(uiInstance)]="uiInstance"
                           (selectCanvas)="on_event_select_canvas( $event )"
                           (persist)="on_event_persist( $event )" >
                </prop-base>

            </div>

        </div>

    </div>

</div>
