
# #############################################################################
#
# common functions

  sp_schema_addcolumn                   :: ./common/sp_schema_addcolumn.sql
  sp_schema_addindex                    :: ./common/sp_schema_addindex.sql

# #############################################################################
#
# tables

  create_table_active                   :: ./table/create_table_active.sql

# #############################################################################
#
# functions

  sp_active_create                      :: ./function/sp_active_create.sql
  sp_active_list_all                    :: ./function/sp_active_list_all.sql
  sp_active_list_one                    :: ./function/sp_active_list_one.sql
  sp_active_update                      :: ./function/sp_active_update.sql