
<app-header (navToggled)="on_event_toggle_sidebar_menu($event)"></app-header>

<div [style.min-height]="nav_center_left_size"
     [fxLayout]="row" fxFlex
     class="center_area" >

    <app-sidebar [(isMenuOpen)]="isMenuOpen"
                 (onMenuItem)="on_event_select_sidebar_menu_item($event)">
    </app-sidebar>

    <div [fxLayout]="column" fxFlex class="center_main" >

        <!--route content goes here-->

        <div [fxLayout]="row" fxFlex class="card" >
            <div [fxLayout]="column" fxFlex >

                <!--card as sample content -->

            </div>
        </div>
    </div>

    <!--<div [fxLayout]="column" class="center_right" *ngIf="show_nav_center_side"-->
         <!--(click)="on_select_nav_center_side()" >-->
    <!--</div>-->

</div>

<app-footer></app-footer>
