

<div [fxLayout]="row" class="page_header_nav" >

    <div class="page_header_menu_button"
         (click)="on_select_page_header_menu_button()" >

        <md-icon class="page_header_nav_icon">menu</md-icon>

    </div>

    <div fxFlex></div>

    <div class="page_header_nav_title" >{{name}}</div>

    <div fxFlex></div>

    <div class="page_header_menu_button">
        <!--<md-icon class="page_header_nav_icon">power_settings_new</md-icon>-->
        <!--<md-icon class="page_header_nav_icon">power_settings_new</md-icon>-->
    </div>

</div>

<div [style.min-height]="minHeight"
     [fxLayout]="row" fxFlex
     class="center_area" >

    <div [style.width]="nav_center_left_width"
         [style.min-width]="nav_center_left_width"
         [fxLayout]="column" class="center_left" *ngIf="show_nav_center_left"
         (click)="on_select_nav_center_left()" >

    </div>

    <div [fxLayout]="column" fxFlex class="center_main" >

        <div [fxLayout]="row" fxFlex class="card" >
            <div [fxLayout]="column" fxFlex >
                <div class="check" >check check </div>
            </div>
        </div>

    </div>

    <div [fxLayout]="column" class="center_right" *ngIf="show_nav_center_side"
         (click)="on_select_nav_center_side()" >

    </div>

</div>

<div [fxLayout]="row" class="page_footer" >

    <div fxFlex></div>

    <div class="page_footer_text">copy right</div>

</div>