
<div [style.width]="nav_center_left_width"
     [style.min-width]="nav_center_left_width"
     [fxLayout]="column"
     class="center_left" >

    <div [style.width]="nav_center_left_width"
         [style.min-width]="nav_center_left_width" >

        <div *ngFor="let menu_item of listof_menu_item;"
             class="center_left_menu_item_host"
             [fxLayout]="row"
             (click)="on_select_sidebar_menu_item ( menu_item )" >

            <div [fxLayout]="column" fxFlex class="center_left_menu_item">

                <md-icon class="center_left_menu_icon">{{ menu_item.icon }}</md-icon>
                {{ menu_item.name }}
            </div>

        </div>

        <div [fxLayout]="row" fxFlex
             [style.height]="sidebar_height_flex"
             [style.min-height]="sidebar_height_flex" >
        </div>

        <div [fxLayout]="row"
             class="center_left_menu_item_host_last"
             (click)="on_select_sidebar_menu_item ( logout_menu_item )" >

            <div [fxLayout]="column" fxFlex class="center_left_menu_item_last">
                <md-icon class="center_left_menu_icon">{{ logout_menu_item.icon }}</md-icon>
                {{ logout_menu_item.name }}
            </div>

        </div>

    </div>

</div>