
<ion-split-pane [when]="false">

    <ion-menu id="primaryMenu" [content]="content">

        <ion-header>
            <ion-toolbar>
                <ion-title>Mortis</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content class="outer-content">

            <ion-list>

                <button ion-item menuClose *ngFor="let p of appPages"
                        (click)="openPage(p)">
                    <ion-icon item-left
                              [name]="p.icon"
                              [color]="isActive(p)"></ion-icon>
                    {{p.title}}
                </button>

            </ion-list>

        </ion-content>

    </ion-menu>

    <ion-nav [root]="rootPage" #content
             swipeBackEnabled="false"
             main >
    </ion-nav>

</ion-split-pane>
