
<div fxLayout="column" fxFlex
     [style.height]="current_height"
     [style.min-height]="current_height" >

    <div fxLayout="row" fxFlex class="component-view">

        <div class="card complete-width">dashboard</div>

    </div>

    <!--works, -->
    <!--<div fxLayout="row" fxFlex="5" ></div>-->

    <!--<div fxLayout="row" fxFlex >-->

        <!--<div fxLayout="column" fxFlex="5" ></div>-->

        <!--<md-card fxLayout="column" fxFlex >ddd</md-card>-->

        <!--<div fxLayout="column" fxFlex="5" ></div>-->

    <!--</div>-->

    <!--<div fxLayout="row" fxFlex="5" ></div>-->

</div>
