
<ion-content class="page-login">

    <ion-grid>

        <div class="page-login-header" >
            <div></div>
        </div>

        <div class="page-login-content" >

            <div class="page-login-content-card" >

                <div class="page-login-content-card-content">

                    <div class="page-login-content-card-icon-host">
                        <ion-icon class="page_header_nav_icon signin-logo"
                                  ios="md-contact"
                                  md="md-contact">
                        </ion-icon>
                    </div>

                    <ion-item class="page-login-content-card-item-host" >
                        <ion-label floating>email</ion-label>
                        <ion-input type="text"></ion-input>
                    </ion-item>

                    <ion-item class="page-login-content-card-item-host" >
                        <ion-label floating>password</ion-label>
                        <ion-input type="password"></ion-input>
                    </ion-item>

                    <ion-row>
                        <button >login</button>
                    </ion-row>

                    <ion-row>
                        <a class="signin-forgot">remind me</a>
                    </ion-row>

                </div>

            </div>

            <ion-row>
                <a class="signin-create">create account</a>
            </ion-row>

        </div>

        <div class="page-login-footer" >
            <div></div>
        </div>

    </ion-grid>

</ion-content>

<!--<ion-content>-->

    <!--<ion-row height-20>a-->
        <!--<ion-col width-20></ion-col>-->
        <!--<ion-col width-80></ion-col>-->
    <!--</ion-row>-->

    <!--<ion-row>-->

        <!--<ion-col text-center>-->

            <!--<ion-card class="login-card">-->

                <!--<ion-card-header>-->
                    <!--Card Header-->
                <!--</ion-card-header>-->

                <!--<ion-card-content>-->
                    <!--&lt;!&ndash; Add card content here! &ndash;&gt;-->
                <!--</ion-card-content>-->

            <!--</ion-card>-->

        <!--</ion-col>-->

    <!--</ion-row>-->
    <!--<ion-row height-20>b-->

    <!--</ion-row>-->

<!--</ion-content>-->

<!--<ion-header>-->

    <!--<ion-navbar no-border-bottom>-->

        <!--<button ion-button menuToggle>-->
            <!--<ion-icon name="md-menu"></ion-icon>-->
        <!--</button>-->

        <!--<ion-title>{{title}}</ion-title>-->

    <!--</ion-navbar>-->

<!--</ion-header>-->

<!--<ion-content>-->

    <!--<ion-list-header class="thing-host">-->
        <!--<div class="thing-card" *ngFor="let thing of listof_thing">-->
            <!--<span>{{title}} - {{listof_thing.length}}</span>-->
        <!--</div>-->
    <!--</ion-list-header>-->

<!--</ion-content>-->

