// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


// Theme
// --------------------------------------------------

.outer-content.content.content-md .scroll-content {
    overflow-y: hidden;
}

.bar-button-menutoggle-md ion-icon {
    color: rebeccapurple !important;
}

.toolbar-title-md {
    color: rebeccapurple !important;
}

ion-icon.icon.icon-md.ion-md-home.item-icon.icon {
    color: rgba(102, 51, 153, 0.5) !important;
}

ion-icon.icon.icon-md.ion-md-home.item-icon.icon-md-primary {
    color: rebeccapurple !important;
}

.thing-host {
    padding-left: 8px !important;
    padding-right: 6px !important;
    border-bottom: none !important;
}

.thing-card {
    height: 96px;
    margin: 0px 2px 12px 2px;
    padding: 4px;
    background: #fff7b5;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    color: rebeccapurple;
}
