
$primary:    #663399;
$secondary:  #ffc107;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #222;

.editor-background {

    background: #f3f3f3;
}

.editor-host-toolbar {
    height:48px;

    background-color: mix($light, $primary, 90%);
    border-top: 1px solid mix($light, $primary, 80%);
    border-bottom: 0.5px solid mix($light, $primary, 80%);

    padding-left: 8px;
    padding-right: 8px;
}

.editor-host-toolbar-title {

    width: 304px;
}

.editor-host-toolbar-slide {
    .mat-slider-horizontal {
        width: 64px;
        min-width: 64px;
    }
}

.editor-host-toolbar-slide-label {
    margin: auto;

    font-size: 14px;
    margin-right: 8px;
}

.editor-host-toolbar-slide-ctrl {
}



.editor-host-toolbar-slide-size {
    .mat-slider-horizontal {
        width: 256px;
        min-width: 256px;
    }

    margin-right: 8px;
    margin-left: 8px;
}

.editor-area {
}

.editor-preview {

    padding: 8px;
    overflow: scroll;
}

.editor-area-pad {
    width: 256px;
}

.hide-panel {

    width:0px;
    min-width:0px;
    max-width:0px;

    transition: all 0.2s ease;

    opacity: 0 !important;
}
