

<div class="flex-container-col complete-height"
     [style.height]="current_height"
     [style.min-height]="current_height" >

    <div fxLayout="row" class="editor-host-toolbar">

        <md-input-container class="editor-host-toolbar-title"
                            (change)="on_change_editor_title($event)" >
            <input mdInput type="text" min="0" max="9999"
                   [(ngModel)]="doc.title" >
        </md-input-container>

        <span fxFlex></span>

        <div fxLayout="row" class="editor-host-toolbar-slide-size" >
            <div fxLayout="column" class="editor-host-toolbar-slide-ctrl" >
                <md-slider min="0" max="100" step="10"
                           [(ngModel)]="editor_config.view_size" (change)="on_change_view_size($event)" >
                </md-slider>
            </div>
            <div fxLayout="column" class="editor-host-toolbar-slide-label" fxFlex>
                <span>{{code_size}} / {{html_size}}</span>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxFlex class="editor-background">

        <codemirror fxLayout="column" [fxFlex]="code_size"
                    *ngIf="code_size > 0"
                    [ngClass]="{'hide-panel': editor_config.view_mode===3}"
                    class="card editor-area"
                    [(ngModel)]="codemirror_code"
                    [config]="codemirror_config"
                    (focus)="onCodeMirrorEditorFocused($event)"
                    (change)="onCodeMirrorEditorChanged($event)"
                    (blur)="onCodeMirrorEditorBlur($event)" >
        </codemirror>

        <div fxLayout="column" [fxFlex]="html_size"
             *ngIf="html_size > 0"
             class="card editor-preview markdown-body"
             [ngClass]="{'hide-panel': editor_config.view_mode===1}"
             [md]="inner_html_md" [options]="options" >
        </div>

    </div>

</div>
