
<ion-header>

    <ion-navbar no-border-bottom>

        <button ion-button menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>

    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list #scheduleList [hidden]="shownSessions < 1" >

        <ion-item-group *ngFor="let group of groups" [hidden]="group.hide">

            <ion-item-divider sticky>
                <ion-label>
                    {{group.time}}
                </ion-label>
            </ion-item-divider>

            <ion-item-sliding *ngFor="let session of group.sessions"
                              #slidingItem [attr.track]="session.tracks[0] | lowercase" [hidden]="session.hide">

                <button ion-item (click)="goToSessionDetail(session)">
                    <h3>{{session.name}}</h3>
                    <p>
                        {{session.timeStart}} &mdash;
                        {{session.timeEnd}}:
                        {{session.location}}
                    </p>
                </button>

            </ion-item-sliding>

        </ion-item-group>

    </ion-list>

    <ion-list-header [hidden]="shownSessions > 0">
        <div class="thing-2" *ngFor="let session of thingthing">
            <span>No Sessions Found</span>
        </div>
    </ion-list-header>

</ion-content>
